@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
@import "admin.css";

textarea:focus, input:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #fff;
}

.container {
    margin: auto
}

@media(min-width: 1200px) {
    .v-container {
        max-width: 1140px !important;
    }
}
@media(min-width: 1920px) {
    .v-container {
        max-width:1400px !important;
    }
}


a {
    text-decoration: none;
}
.hv-100 {
    height: 100vh;
}
body {
    font-family: 'Poppins' !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.scrollbar__thumbPlaceholder--vertical {
    width: 7px !important;
}


.v-theme--dark .bg-grey-lighten-5 {
    background: rgba(28,28,28, 0.4) !important;
    color: #fff !important;
}


.pagination-container button {
    min-width: 40px !important;
    font-size: 20px;
    max-width: 40px !important;
    height: 40px !important;
}

 .elevation-sm{
    box-shadow: 0 0 1rem rgba(0,0,0,.03) !important;
}
 .elevation-lg {
     box-shadow: 0 0 4rem rgba(0,0,0,.07) !important;
 }
 #auth-container {
    height: 100vh;
}
#auth-container .auth-left {
    width: 30%;
    height: 100vh;
}
#auth-container .auth-right {
    width: 70%;
    height: 100vh;
    background: #5700E5;
    padding: 50px;
    position: relative;
}
#auth-container .auth-right img {
    max-width: 700px;

    display: block;
    margin: auto;
}
#auth-container .auth-right .footer {
    position: absolute;
    bottom: 0;
    color: #D7C2FF;
    padding: 30px 150px;
    left: 0;
    width: 100%;
}
#auth-container.dark-theme .auth-right {
    background: #1E1E1E;
}

#auth-container.dark-theme .auth-right .footer {
    color: grey;
}
#dashboard-container {
    height: 100vh;
    overflow: hidden;
    padding-top: 60px;
}
#dashboard-container .side-menu {
    height: calc(100vh - 140px);
}
#dashboard-container .v-navigation-drawer {
    top: 60px !important;
}
#dashboard-container .v-navigation-drawer .active {
    background: none !important;
    color: #5700EB !important;
    border-left: solid 2px #5700EB;
}
#dashboard-container .v-navigation-drawer  .v-theme--dark  .active {
    color: #D4D4D4 !important;
}
#dashboard-container .v-navigation-drawer .v-list-item__overlay {
    background: none !important;
}
#dashboard-container .header {
    width: 100%;
    height: 60px;
    top: 0;
    padding: 5px 20px;
    position: fixed;
    background: #5700EB;
}
#dashboard-container .header .add-button {
    position: absolute;
    left: 50%;
}
#dashboard-container .header .float-left {
    padding-top: 5px;
}
#dashboard-container .header .float-left button {
    border-radius: 30px !important;
}

#dashboard-container  .v-navigation-drawer--rail .v-list-item__prepend > .v-icon {
    font-size: 30px;
    margin-left: 10px;
}

#dashboard-container .v-navigation-drawer--is-hovering .v-list-item__prepend > .v-icon {
    font-size: 24px;
    margin-left: 0;
}

@media(max-width: 1200px) {
    #auth-container .auth-right {
        width: 60%;
    }
    #auth-container .auth-left {
        width: 40%;
    }
    #auth-container .auth-right .footer {
        padding: 30px 30px ;
    }
    #auth-container .auth-right img {
        max-width: 550px;
    }
}
@media(max-width: 950px) {
    #auth-container .auth-left {
        width: 100%;
    }
    #auth-container .auth-left .content {
        padding: 30px 13% !important;

    }
    #auth-container .auth-right {
        display: none;
    }
}

@media(max-width: 950px) {
    #auth-container .auth-left .content {
        padding: 30px 4% !important;

    }
}





